.slider2 .slick-slide{
        margin-right: 21px !important;
}

.swiper-slide-active{
        display: flex !important;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
    }
    .swiper-wrapper{
        align-items: center;
    }